body {
  background-color: rgb(250, 242, 232);
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

/* accordion */
.accordion {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  transition: all .5s;
}
@media (hover: hover) {
  .accordion:hover label{
    color: rgb(33, 30, 30);
    transition: all .5s;
  }
}

.accordion-header {
  border-bottom: 0.1rem solid lightgray;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.accordion-header-text {
  font-size: 2rem;
  font-weight: 800;
  line-height: 4rem;
  margin-left: 0.7rem;
}

.accordion-text {
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.accordion-title {
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: rgba(34, 74, 252, 0.79);
  cursor: pointer;
}

.accordion-item {
  border-bottom: 0.1rem solid lightgray;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.accordion-item-last {
  border-bottom: 0rem
}

.accordion-content {
  display: none;
  text-align: center;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.accordion-image {
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: all .5s ease-in-out;
}

.accordion-input {
  -webkit-appearance: none;
  appearance: none;
}

.accordion-input:checked + .accordion-title + .accordion-content {
  display: block;
  opacity: 1;
}

.accordion-input:checked + .accordion-title {
  color: rgb(33, 30, 30);
}

.accordion-block-icon {
  padding-top: 1rem;
}

@media screen and (max-width: 51.25rem) {
  .accordion-item {
    width: 35rem;
  }
  .accordion-header {
    width: 35rem;
  }
  .accordion-header-text {
    font-size: 1.5rem;
  }
  .accordion-title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 20rem) {
  .accordion-item {
    width: 30rem;
  }
  .accordion-header {
    width: 30rem;
  }
  .accordion-header-text {
    font-size: 1.2rem;
  }
  .accordion-title {
    font-size: 1rem;
  }
}



